@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(720deg, #2e055e 10.62%, #000000 59.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}


.cabecalho-imagem {
    height: 72px;   
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Press Start 2P', cursive; 
    color: #ffffff;
    font-weight: 250;
    font-size: 13px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #3f0366;
}

.conteudo-princiopal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-princiopal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-princiopal-escrito-titulo {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #ffffff;
}

.conteudo-princiopal-escrito-subtitulo {
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 200;
    font-stretch: normal;
    font-size: 12px;
    color: #ffffff;
}

.conteudo-princiopal-escrito-botao {
    background-color: #6f06ac;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(197, 116, 218, 0.25);
    border-radius: 20px;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0px;
    color: #ffffff;


}

.conteudo-princiopal-escrito-botao:hover {
    background-color: rgba(131, 27, 117, 0.53);
}

.conteudo-princiopal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous',cursive;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
    color: #400f79;
}

.conteudo-secundario-paragrafro {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 48px;
    display: flex;
    margin: 0 auto;
}